@model  System.Collections.Generic.List<SimbaBank.Models.BankAccount>


    <html xmlns="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" href="~/stylet.css" />
    <head>
        <title></title>
    </head>
    <body>
        @foreach (var BankAccount in @Model)
    {
        if(BankAccount.IsKing)
        {
            <table>
                <tr>
                    <td> <h4>@BankAccount.Name</h4></td>
                    <td ><h4>@BankAccount.Balance.ToString("0.##")</h4></td>
                    <td ><h4>@BankAccount.Currency</h4></td>
                    <td ><h4>@BankAccount.AnimalType</h4></td>
                </tr>
            </table>
         }
        else
        {
            <table>
                <tr>
                    <td >@BankAccount.Name</td>
                    <td >@BankAccount.Balance.ToString("0.##")</td>
                    <td >@BankAccount.Currency</td>
                    <td >@BankAccount.AnimalType</td>
                </tr>
            </table>
        }

    }
    </body>
</html>
